[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-google-genai = "*"
langchain-core = "*"
langgraph = "*"
langgraph-checkpoint-postgres = "*"
langchain = "*"
psycopg = {extras = ["binary"]}
python-dotenv = "*"
requests = "*"
streamlit = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
